@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Start CSS header */

header {
    font-family: 'Cormorant Garamond';
    position: absolute;
    width: 100%;
    height: 130px;
    left: 0px;
    top: 0px;
    background: #57290B;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTable {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 100px 0;
}

td {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

a {
    color: #EBDACC;
    text-decoration: underline #B2784A 1.5px;
    text-decoration-style: inherit;
    border-radius: 10px;
    padding-bottom: 5px;
}

p {
    text-decoration: none;
    color: #EBDACC;
}

.headerLogo {
    padding-left: 150px;
    padding-right: 150px;
}

.headerLogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoText {
    font-size: 18px;
    font-weight: 400;
    color: #EBDACC;
}

.phone {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border-spacing: 150px 0;
}

.phone img {
    margin-right: 8px;
}

.phone p {
    color: #EBDACC;
    text-decoration: underline #B2784A 1.5px;
    text-decoration-style: inherit;
    border-radius: 10px;
    padding-bottom: 5px;
}

/* End CSS header */





/* Start content*/

.indexBanner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 125px;
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/landingCoffee.png);
}

.bannerTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 76px;
    color: #F0F0F0;
    margin-right: 50%;
    margin-left: 120px;
    margin-top: 65px;
}

.bannerSubtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #F0F0F0;
    margin-right: 50%;
    margin-left: 120px;
    margin-top: 16px;
}

.buttonConhecer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #8F542E;
    border-radius: 8px;
    align-items: center;
    padding: 12px 32px;
    gap: 27px;
    width: 300px;
    height: 57px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #F0F0F0;
    border-color: #8F542E;
    margin-left: 120px;
    margin-top: 40px;
}

.aboutUs {
    position: relative;
    top: 700px;
    left: 120px;
}

.aboutUsText {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aboutUs {
    display: flex;
    flex-direction: row;
}

.aboutUsText span {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #1F0C00;
    text-decoration: underline #FBC9A8 7px;
    text-decoration-style: inherit;
    margin-bottom: 35px;
    margin-top: 56px;
}

.aboutUsText p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1F0C00;
}

.buttonJourney {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #8F542E;
    border-radius: 8px;
    align-items: center;
    gap: 27px;
    width: 300px;
    height: 57px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #F0F0F0;
    border-color: #8F542E;
    margin-top: 48px;
    margin-left: 0;
}

.aboutUsImage {
    width: 352px;
    height: 340.41px;
    margin-top: 110px;
    margin-left: 150px;
    border-radius: 8px;
}

.waveCoffee {
    position: relative;
    top: 800px;
    width: 100%;
}

.redirect {
    position: absolute;
    top: 1400px;
    width: 100%;
    height: 800px;
    background-color: #80451F;
    z-index: -1;
}

.redirectContent {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redirectContent span {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F5F3ED;
    text-decoration: underline #B2784A 4px;
    text-decoration-style: inherit;
}

.choices {
    margin-top: 50px;
    margin-bottom: 55px;
    display: flex;
    flex-direction: row;
}

.bookstore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F3ED;
    border-radius: 8px;
    margin-right: 230px;
}

.cafeteria {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F3ED;
    border-radius: 8px;
}

.choices a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #1F0C00;
    text-decoration: underline #B2784A 2px;
    text-decoration-style: inherit;
}

.ourServicesButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 20px;
    width: 250px;
    height: 57px;
    background: #FBC9A8;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #1F0C00;
}



/* .choices {
    margin-top: 400px;
} */


/* End CSS lading content */




/* Start CSS footer */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background: #57290B;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 2200px;
    left: 0;
}

.bar {
    width: 90%;
    height: 2px;

    background: #A76E42;
    border-radius: 2px;
}

.developedBy {
    color: #FFDAB8;
    margin-left: 115px;
    font-family: 'Open Sans';
}

.footerLogo {
    margin-top: 40px;
    margin-left: 135px;
    width: 120px;
    height: 120px;
}

.footerLogoText {
    margin-left: 120px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.contactFooter {
    margin-top: 40px;
    margin-left: 220px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}

.contactTitleFooter {
    margin-bottom: 35px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #EBDACC
}


.contactFooterData {
    margin-bottom: 24px;
    color: #EBDACC;
}

.address {
    color: #EBDACC;
}

.phoneFooter {
    display: flex;
    flex-direction: row;
}

.contactFooter img {
    height: 25px;
    width: 25px;
}

.emailFooter {
    display: flex;
    flex-direction: row;
}

.addressFooter {
    display: flex;
    flex-direction: row;
}

.socialFooter {
    position: absolute;
    top: 40px;
    left: 40%;
    margin-left: 220px;
    margin-right: 150px;
    font-family: 'Open Sans';
}

.socialTitleFooter {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #EBDACC;
    margin-bottom: 35px;
}

.instagram {
    display: flex;
    flex-direction: row;
    margin-bottom: 21px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #EBDACC;

}

.facebook {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #EBDACC;

}


/* End CSS footer */