@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Start CSS header */

header {
    font-family: 'Cormorant Garamond';
    position: absolute;
    width: 100%;
    height: 130px;
    left: 0px;
    top: 0px;
    background: #57290B;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTable {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 100px 0;
}

td {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

a {
    color: #EBDACC;
    text-decoration: underline #B2784A 1.5px;
    text-decoration-style: inherit;
    border-radius: 10px;
    padding-bottom: 5px;
}

p {
    text-decoration: none;
    color: #EBDACC;
}

.headerLogo {
    padding-left: 150px;
    padding-right: 150px;
}

.headerLogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoText {
    font-size: 18px;
    font-weight: 400;
    color: #EBDACC;
}

.phone {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border-spacing: 150px 0;
}

.phone img {
    margin-right: 8px;
}

.phone p {
    color: #EBDACC;
    text-decoration: underline #B2784A 1.5px;
    text-decoration-style: inherit;
    border-radius: 10px;
    padding-bottom: 5px;
}

.carousel-inner {
    position: absolute;
}

/* End CSS header */




/* Start content  */

.servicesBanner {
    position: absolute;
    top: 120px;
    left: 0;
    height: 400px;
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bannerDecoration {
    display: flex;
    flex-direction: row;
}

.left {
    position: absolute;
    right: 0%;
    top: 240px;
}

.right {
    position: absolute;
    left: 0;
    top: 250px;
}

.servicesBanner span {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 107px;
    color: #57290B;
}

.library {
    position: absolute;
    top: 520px;
    left: 0;
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    background-color: #F5F3ED;
}

.libraryTitle {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #1F0C00;
    text-decoration: underline #FBC9A8 7px;
    text-decoration-style: inherit;
    margin-left: 120px;
    margin-top: 50px
}

.bestSellers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.bestSellersTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    text-transform: uppercase;
    color: #8F542E;
    margin-bottom: 35px;
    text-decoration: underline #B2784A 2.5px;
    text-decoration-style: inherit;
}

.firstLine,
.secondLine {
    display: flex;
    flex-direction: row;
}

.book {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.bookTitle {
    margin-top: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-transform: capitalize;
    color: #1F0C00;
}

.bookAuthor {
    margin-top: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #525252;
}

.cafeteria {
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #80451F;
}

.cafeteria span {
    margin-top: 52px;
    margin-bottom: 40px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F5F3ED;
}

.cafeteria a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-transform: capitalize;
    color: #1F0C00;
    text-decoration: none;
    margin-bottom: 10px;
}

.cafeteria img {
    border-radius: 8px;
}

.budget {
    position: absolute;
    top: 2090px;
    width: 100%;
    left: 0;
    background-color: #F5F3ED;
    display: flex;
    flex-direction: row;
}

.budgetText {
    margin-top: 55px;
    margin-left: 120px;
}

.budgetTitle {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #1F0C00;
}

.budgetText form {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.budgetText form span {
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #1F0C00;
}

.messageBox {
    height: 220px;
}

.sendMessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #8F542E;
    border-radius: 8px;
    align-items: center;
    padding: 12px 32px;
    gap: 27px;
    width: 300px;
    height: 57px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #F0F0F0;
    border-color: #8F542E;
    margin-top: 40px;
}

.imageBudget {
    margin-top: 50px;
    margin-left: 250px;
    width: 485px;
    height: 742.35px;
    margin-bottom: 30px;
}



/* End content */




/* Start CSS footer */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background: #57290B;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 2900px;
    left: 0;
}

.bar {
    width: 90%;
    height: 2px;

    background: #A76E42;
    border-radius: 2px;
}

.developedBy {
    color: #FFDAB8;
    margin-left: 115px;
    font-family: 'Open Sans';
}

.footerLogo {
    margin-top: 40px;
    margin-left: 135px;
    width: 120px;
    height: 120px;
}

.footerLogoText {
    margin-left: 120px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.contactFooter {
    margin-top: 40px;
    margin-left: 220px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
}

.contactTitleFooter {
    margin-bottom: 35px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #EBDACC
}


.contactFooterData {
    margin-bottom: 24px;
    color: #EBDACC;
}

.address {
    color: #EBDACC;
}

.phoneFooter {
    display: flex;
    flex-direction: row;
}

.contactFooter img {
    height: 25px;
    width: 25px;
}

.emailFooter {
    display: flex;
    flex-direction: row;
}

.addressFooter {
    display: flex;
    flex-direction: row;
}

.socialFooter {
    position: absolute;
    top: 40px;
    left: 40%;
    margin-left: 220px;
    margin-right: 150px;
    font-family: 'Open Sans';
}

.socialTitleFooter {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #EBDACC;
    margin-bottom: 35px;
}

.instagram {
    display: flex;
    flex-direction: row;
    margin-bottom: 21px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #EBDACC;

}

.facebook {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #EBDACC;

}


/* End CSS footer */